
.foot{
    height: 100px;
    background: rgb(3, 75, 103);
}

.fText{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.foot button{
    position: absolute;
    height: 50px;
}